<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>477177382577-vq94au7b82sqrfv3lherddfon2jrj2s3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477177382577-vq94au7b82sqrfv3lherddfon2jrj2s3</string>
	<key>API_KEY</key>
	<string>AIzaSyDi92Gf67WicFXveWIdNrxl0Ch6ywlz0MM</string>
	<key>GCM_SENDER_ID</key>
	<string>477177382577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.asial.PushNotifications</string>
	<key>PROJECT_ID</key>
	<string>cordova-firebase-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>cordova-firebase-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477177382577:ios:04689a973a71b519</string>
	<key>DATABASE_URL</key>
	<string>https://cordova-firebase-demo.firebaseio.com</string>
</dict>
</plist>