* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

h3, h4 {
    text-align: center;
}

body {
    font-family: sans-serif;
}

button {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 0;
	outline: 0;
	background-color: #0061bb;
	color: #fff;
}

table {
	width: 100%;
}